<div id="welcomeWraper">
    <p>Hello, Guest</p>
    <div class="btn-group">
        <a href="/Account/Login" class="btn btn-secondary btn-info btn-sm">Login</a>
        <a href="/Account/Register" class="btn btn-secondary btn-info btn-sm">Register</a>
    </div>
</div>

