@model MyGame.Models.TableActionModel

@{
    ViewBag.Title = "Table";
}

@section Addons
{
    <script type="text/javascript">
        var actionAddress = @Html.Raw(Json.Encode(Model.ActionName));
    </script>
    <script src="~/Scripts/GameController.js"></script>
}

<h1>List of tables:</h1>
<div id="tableListWrapper">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player 1</th>
                <th scope="col">Player 2</th>
                <th scope="col">Create date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody ng-controller="GameListController">
            <tr ng-repeat="gameModel in gameList.data">
                <th scope="row">{{gameModel.Id}}</th>
                <td>
                    {{gameModel.Opponents[0].Name}} {{gameModel.Opponents[0].Surname}}
                </td>
                <td>
                    {{gameModel.Opponents[1].Name}} {{gameModel.Opponents[1].Surname}}
                </td>
                <td>
                    {{gameModel.CreationTime}}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" ng-click="DeteleTable(gameModel)" class="btn btn-secondary btn-warning btn-sm">Join</a>
                        @if (HttpContext.Current.User.IsInRole("admin"))
                        {
                            <a href="#" ng-click="DeteleTable(gameModel)" class="btn btn-secondary btn-danger btn-sm">Delete</a>
                        }
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
