form{
  margin-top: 20px;
}

.reg_label{
  font-size: 13pt;
  text-align: center;
}

.reg_field_wrapper{
  margin-top: 15px;

}

#contentDiv {
  padding: 10px;
  width: 60%;
  float: none;
  margin: auto;
}

legend{
  font-size: 15pt;
}

.valid-message{
  color: red;
}

.form-control{
  max-width: 30%;
}

#form-wrapper{
  margin-left: 5%;
}

.input-validation-error{
  background-color: #FFAEA0;
}

.valid{
  background-color: #7DDC9E;
}
