
#wrapper{
    background-color: black;
    padding-top: 20px;
}

#contentDiv{
    float: right;
    margin-right: 20px;
    width: 90%;
    background-color: #A0A0A0;
}

#header{
    background-color: #A0A0A0;
    position: relative;
    height: 90px;
    padding-left: 20px;
    border-bottom: 2px solid white;
}

#homeLink{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    color: white;
    letter-spacing: 10px;
    word-spacing: 10px;
}

#welcomeWraper{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-right: 20px;   
    float: right;
}

#welcomeWraper p{
    margin: 0;
}
#welcomeWraper a{
    color: white;
    float: right;   
}

#tableListWrapper{
    width: 600px;
    margin-left: 50px; 
}
.deleteTable{
    float: right;
    height: 20px;
    cursor: pointer;
    width: 20px;
    border: none;
    background:none;
    background-image: url("../Images/invalid.png");
}
