.tableSquare{
    padding: 0;
    margin:  0;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.tableSquare img{
    position: absolute;
    z-index: 10;
}
#checkersTable{
    font-size: 0;
    width: 500px;
    margin: auto;
}
#TurnStatusDiv
{
    margin:30px;
}